// $primary: #162521;
// $secondary: #C0E0DE;
// $background: #ffffff

// $gray: #3C474B;
// $header: #4F7CAC;
// $light-gray: #EAEAEA;

$primary: #FAF9F8;
$secondary: #101935;
$background: #101935;
$footer: #0A1128;

$divider: #6C969D;
$header: #99D5C9;

$blue: #56CBF9;
$pink: #FFD9DA;
$green: #D4F2DB;
$yellow: #FFFD98;
$deepgreen: #21897E;
$gray: #E0E2DB;
$white: #F0F2EF;
$lightgreen: #DDF8E8;
$black: #131515;

$header1: linear-gradient(#0f2027, #203a43, #2C5364);
$landing: linear-gradient(rgba(#42275a,0.3), rgba(#734b6d,0.3));
$header2: linear-gradient(#141E30, #243B55);
$put: #f12711;
$sell: #f5af19;
$call: #11998e;
$buy: #38ef7d;