@font-face {
    font-family: 'Zing Rust Demo Base';
    src: url('../static/webfonts/ZingRustDemo-Base.woff2') format('woff2'),
        url('../static/webfonts/ZingRustDemo-Base.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Zing Script Rust SB Demo Base';
    src: url('../static/webfonts/ZingScriptRustSBDemo-Base.woff2') format('woff2'),
        url('../static/webfonts/ZingScriptRustSBDemo-Base.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Zing Sans Rust L Demo Base';
    src: url('../static/webfonts/ZingSansRustLDemo-Base.woff2') format('woff2'),
        url('../static/webfonts/ZingSansRustLDemo-Base.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Zing Rust Demo Sh1';
    src: url('../static/webfonts/ZingRustDemo-Sh1.woff2') format('woff2'),
        url('../static/webfonts/ZingRustDemo-Sh1.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Zing Rust D2 Demo Base';
    src: url('../static/webfonts/ZingRustD2Demo-Base.woff2') format('woff2'),
        url('../static/webfonts/ZingRustD2Demo-Base.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Zing Rust LH1 Demo Fill';
    src: url('../static/webfonts/ZingRustLH1Demo-Fill.woff2') format('woff2'),
        url('../static/webfonts/ZingRustLH1Demo-Fill.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

