@import "colors";
@import "variables";
@import "fonts";

#content-wrapper{
    padding-top: 0;
}

/*
*   Landing Design
*/
#background-img{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;

    z-index: 0;
    opacity: 0.4;
}

#background-design{
    position: absolute;
    top: 0;
    height: calc( 100vh - 80px);
    width: 100vw;
    padding-top:80px;
    z-index: 2;
    opacity: 0.2;
}

#landing{
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: calc( 100vh - 80px);
    width: 100vw;

    padding-top: 80px;

    // background: $landing;
    // background: transparent;
    text-align: center;

    h1{
        position: relative;
        font-family: "Zing Script Rust SB Demo Base";

        margin-bottom: 20px;
        font-size: 2.5em;
        z-index: 1000;
    }
    h2{
        position: relative;
        font-family: "Zing Sans Rust L Demo Base";
        
        font-size: 1.2em;
        font-weight: 300;
        z-index: 1000;
    }
    #landing-buttons{
        margin-top: 80px;

        a{
            display: inline-block;
            position: relative;
            z-index: 1000;

            button{
                position: relative;
                outline: none;
                border: none;
                margin: 0 2vw;
                padding: 40px 20px;
                
                color:$primary;
                background: rgba($background, $glow);
                border: 1px solid rgba($gray, $glow);

                box-shadow: none;
                transition: box-shadow animationLength ease;
    
                span{
                    font-size: 3em;
                }
                h3{
                    margin-top: 50px;
                    font-size: 1em;
                }
    
                &:hover{
                    cursor: pointer;
                    box-shadow: 0 0 20px rgba($primary, $lighten);
                }
            }
        }
    }
}
