@import "colors";
@import "variables";

#content-wrapper{
    display: grid;
    grid-template-columns: auto 250px;
    grid-column-gap: 5vw;

    max-width: 1280px;
    width: 80vw;
    margin: 0 auto;
}
.up{
    color: $green;
    text-shadow: 0 0 5px rgba($green, $glow);
}
.down{
    color: $pink;
    text-shadow: 0 0 5px rgba($pink, $glow);
}

/*
*   Primary Section
*/
#option-content{
    margin-top: 50px;
}
#security-overview{
    #security{
        display: flex;
        justify-content: space-between;

        h1{
            color: $primary;
            span{
                color: $blue;
                text-shadow: 0 0 5px rgba($blue, $glow);
                margin-right: 10px;
            }
        }
        p{
            font-size: 1.2em;
        }
    }
    #security-info{
        display: flex;
        flex-wrap: wrap;

        margin-top: 10px;
        p{
            margin-right: 50px;
            margin-bottom: 10px;
            font-size: 1em;
            font-weight: lighter;
        }
    }
}

/*
*   Graphs
*/
#graphs{
    margin-top: 50px;
}
#graph{
    // display: none;
    height: 50vh;
}

/*
*   Sidebar
*/
#sidebar{
    margin-top: 50px;

    #nothing{
        margin-bottom: 20px;
    }
    #add-option{
        display: flex;
    
        border: none;
        outline: none;
        background: none;
        padding: 15px 20px;
    
        color:$primary;
        background: rgba($primary, $glow);
    
        font-size: 1em;
    
        transition: all $animationLength ease;
    
        span{
            margin-right: 10px;
            color: $yellow;
            text-shadow: 0 0 5px rgba($yellow, $glow);
        }
        h4{
            line-height: 1em;
        }
        &:hover{
            cursor: pointer;
            box-shadow: 0 0 5px rgba($primary, $glow);
        }
    }
}

