@import "colors";
@import "variables";
@import "fonts";
@import url('https://fonts.googleapis.com/css?family=Lato');

@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}  
}

@include placeholder {
    font-style: italic;
    color: rgba($header, $glow) !important;
    font-weight: 200;
}

html,body{
    margin: 0;
    color: $primary;
    background: $background;
}
h1,h2,h3,h4,h5{
    margin: 0px;
    font-family: 'Zing Sans Rust L Demo Base', sans-serif;
}
p{
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
#content-wrapper{
    padding-top: 80px;
    overflow: hidden;
    min-height: calc(100vh - 130px);
}

/*
    Headings
*/
#heading{
    padding-top: 80px;
    padding-bottom: 20px;
}
.large-heading{
    height: 200px;
}
.medium-heading{
    height: 150px;
}
.small-heading{
    height: 100px;
}

/*
    Header
*/
header{
    position: absolute;

    display: grid;
    grid-template-columns: 50px 300px auto;
    grid-column-gap: 40px;
    z-index: 1000;

    height: 80px;
    // padding: 0 10vw;
    padding: 0 50px;
    // background: $background;
    background: transparent;

    img{
        height: 40px;
        width:40px;
        padding: 20px 0;
    }
    #search-container{
        width: 100%;
        height: fit-content;
        margin-top: 20px;
        border-radius: 1px;
        box-shadow: 0 0 20px rgba($primary, $search);

        #search{
            outline: none;
            border: none;

            height: 20px;
            width: calc(100% - 24px);
            padding: 10px;

            font-size: 1em;
            font-weight: lighter;
            
            color: $primary;
            background: rgba($background, $lighten);

            border: 1px solid rgba($gray, $glow);
            border-radius: 1px;
        }
        #suggested{
            background: rgba($primary, $glow);

            .suggestion{
                display: grid;
                grid-template-columns: 100px auto;
                grid-column-gap: 10px;
                font-size: 1em;
                padding: 10px 0;

                border-bottom: 1px solid rgba($gray, $glow);

                &:nth-last-child(1){
                    border-bottom: none;
                }

                h4{
                    color: $secondary;
                    text-shadow: 0 0 5px rgba($gray, $glow);
                    
                    span{
                        margin-left: 2px;
                        padding: 0 2px;
                        color: rgba($gray, $glow);
                        font-size: .7em;
                        font-weight: 100;
                        text-shadow: none;

                        // border: 1px solid rgba($gray, $glow);
                        // border-radius: 5px;
                    }
                }
                p{
                    color: $gray;
                    text-align: right;
                    font-weight: lighter;
                }
            }
        }
    }
    nav{
        display: flex;
        justify-content: flex-end;
    }
}

/*
    Footer
*/
footer{
    display: flex;
    justify-content: center;

    height: 50px;
    font-size: .7em;
    background: $footer;
    
    p{
        margin: auto 0;
        color: $gray;
    }
}