@import "colors";
@import "variables";

section{
    display: block;
    margin: 0 auto;
    padding: 50px 0;
}

#heading{
    display: flex;
    justify-content: center;
    background: $header1;

    h1{
        margin: auto 0;
        font-size: 2.5em;
    }
}

#content-wrapper{
    padding-top: 0;
}

#contents{
    display: flex;
    justify-content: flex-start;
    height: 50px;
    margin: 0 auto;
    padding: 0 20px;
    background: $primary;
    a{
        height: fit-content;

        margin: auto 0;
        padding: 0 20px;

        color: $secondary !important;
        text-shadow: 0 0 5px rgba($header, $glow);
        text-decoration: none !important;
        font-size: 1em;

        border-right: 1px solid rgba($secondary, $lighten);

        transition: text-shadow $animationLength ease;
    
        h3{
            font-weight: lighter;
        }
        &:hover{
            cursor: pointer;
            text-shadow: 0 0 20px rgba($header, $opacity);
        }
        &:nth-last-child(1){
            border-right: none;
        }
    }
}

#introduction{
    // width: 50vw;
    text-align: center;
    // background: $white;

    // h1{
    //     font-size: 2em;
    //     margin-bottom: 30px;
    //     color: $header;
    //     text-shadow: 0 0 10px rgba($header, $glow);
    // }
    // color: $secondary;
    p{
        margin: 0 auto;
        width: 50vw;
        font-size: 1em;
        font-weight: lighter;
        line-height: 1.5em;
    }
    #introduction-buttons{
        display: flex;
        justify-content: center;
        margin-top: 50px;

        button{
            outline: none;
            border: none;
            background: none;
            margin: 0 50px;
            font-size: 2em;
            color: $header;
            text-shadow: 0 0 5px rgba($header, $glow);
            transition: text-shadow 0.2s ease;

            &:hover{
                cursor: pointer;
                text-shadow: 0 0 20px rgba($header, $opacity);
            }
        }
    }
}
#vocabulary{
    h2{
        text-align: center;
        font-size: 1.5em;
    }
    p{
        margin: 20px 0;
        text-align: center;
    }
    .words{
        display: grid;
        grid-template-columns: 200px auto;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        width: 50vw;
        margin: 50px auto;
        font-size: 1em;
        line-height: 1.5em;

        h4{
            color: $green;
            text-shadow: 0 0 5px rgba($green, $glow);
        }
        p{
            text-align: left;
            margin: 0;
        }
    }
}
.option-type{
    display: flex;
    justify-content: center;

    &:nth-child(even){
        flex-direction: row-reverse;
    }

    .graphic{
        height: 25vw;
        width: 25vw;
        margin: 0 5vw;
    }
    .description{
        width: 30vw;
        padding: 0 5vw;
        h2{
            font-size: 1.5em;
            margin-bottom: 20px;
        }
        p{
            font-size: 1em;
            font-weight: lighter;
            margin-bottom: 20px;
        }
        .comparison{
            display: grid;
            grid-template-columns: calc(50% - 20px) 1px calc(50% - 20px);
            grid-column-gap: 20px;

            .divider{
                height: 100%;
                width: 100%;
                background: rgba($blue, $opacity);
                box-shadow: 0 0 5px rgba($blue, $glow);
            }

            .column{
                padding: 10px 0;
                span{
                    font-size: 1.5em;
                    color: rgba($blue, $opacity);
                    text-shadow: 0 0 5px rgba($blue, $glow);
                }
                p{
                    margin-top: 20px;
                    font-size: .9em;
                    font-weight: 300;
                }
            }
        }
    }
}
#greeks{
    h2{
        text-align: center;
        font-size: 1.5em;
    }
    p{
        margin: 20px 0;
        text-align: center;
    }
    .words{
        display: grid;
        grid-template-columns: 20px 150px auto;
        grid-column-gap: 20px;
        grid-row-gap: 10px;
        width: 50vw;
        margin: 50px auto;
        font-size: 1em;
        line-height: 1.5em;

        h4{
            color: $pink;
            text-shadow: 0 0 5px rgba($pink, $glow);
        }
        p{
            text-align: left;
            margin: 0;
        }
    }
}
#spreads{
    h2{
        text-align: center;
        font-size: 1.5em;
    }
    p{
        width: 50vw;
        margin: 20px auto;
        text-align: center;
    }
    #spread-gallery{
        display: flex;
        justify-content: center;
        margin: 50px 0;

        .spread{
            width: 20vw;
            margin: 0 20px;
            padding: 10px 20px;
            border-radius: 10px;

            background: $primary;
            box-shadow: 0 0 10px rgba(#f5af19, $glow);
            color: $black;

            h3{
                margin: 10px 0;
                text-align: center;
                
                text-shadow: 0 0 5px rgba($black, $lighten);
            }
            p{
                max-width: 100%;
                margin: 10px 0;

                font-size: .9em;
                font-weight: 300;
                line-height: 1.5em;
                text-align: left;                
                word-wrap:break-word;    
            }
            .note{
                font-size: .7em;
            }
            .legs{
                padding: 0;
                margin: 10px 0;
                list-style: none;
                
                li{
                    margin: 5px 0;
                    padding: 5px 10px;
                    border-radius: 5px;
                }
            }
            .buy-call{
                background: linear-gradient(
                    rgba($buy, $glow),
                    rgba($call, $glow), 45deg);
                
            }
            .buy-put{
                background: linear-gradient(
                    rgba($buy, $glow),
                    rgba($put, $glow), 45deg);
            }
            .sell-call{
                background: linear-gradient(
                    rgba($sell,$glow),
                    rgba( $call, $glow), 45deg);
            }
            .sell-put{
                background: linear-gradient(
                    rgba($sell,$glow),
                    rgba( $put, $glow), 45deg);
            }
        }
    }
}