{% extends "layout.jinja2" %}

{% block head %}
    {{ super() }}
    <link href="/css/home.css" rel="stylesheet">
    <script src="{{request.static_url('optionsviewer:static/js/jquery.interactive_bg.js')}}" defer></script>
    <script src="{{request.static_url('optionsviewer:static/js/home.js')}}" defer></script>
{% endblock %}

{% block content %}
<img id="background-img" src="{{request.static_url('optionsviewer:static/img/background.jpg')}}"/>
<div id="background-design" data-ibg-bg="{{request.static_url('optionsviewer:static/img/bg.png')}}">
</div>
<section id="landing">
    <h1>BlueLens</h1>
    <h2>Options trading. Made for everyone.</h2>
    <div id="landing-buttons">
        <a href="/tutorial">
            <button>
                <span class="fas fa-graduation-cap"></span>
                <h3>Learn about Options</h3>
            </button>
        </a>
        <a href="/connect">
            <button>
                <span class="fas fa-plug"></span>
                <h3>Connect a Brokerage</h3>
            </button>
        </a>
    </div>
</section>
<section id="features">
    <div class="feature">
        <div>
            <h2>A new graph to study spreads.<h2>
            <p></p>
        </div>
    </div>
</section>
{% endblock %}
