<!DOCTYPE html>
<html lang="{{request.locale_name}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="option spread visualizer">
    <meta name="author" content="Andrew Wang and Justin Zhang">
    <link rel="shortcut icon" href="{{request.static_url('optionsviewer:static/icon-64x64.png')}}">

    <title>Options Viewer</title>
    {# <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> #}
    {# <link href="{{request.static_url('optionsviewer:static/css/styles.css')}}" rel="stylesheet"> #}
    <script src="{{request.static_url('optionsviewer:static/js/jquery-3.3.1.min.js')}}" defer></script>
    <link href="/css/fontawesome.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <header>
      <a href="/">
        <img src="{{request.static_url('optionsviewer:static/icon.png')}}" />
      </a>
      <div id="search-container">
        <input id="search" name="search" autocomplete="off" placeholder="Ticker/Company" />
        <div id="suggested">
          {# <div class="suggestion">
            <h4>APPL<span>stock</span></h4>
            <p>$120</p>
          </div>
          <div class="suggestion">
            <h4>APPL<span>stock</span></h4>
            <p>$120</p>
          </div>
          <div class="suggestion">
            <h4>APPL<span>stock</span></h4>
            <p>$120</p>
          </div> #}
        </div>
      </div>
      <nav>
      </nav>
    </header>

    <div id="content-wrapper">
      {% block content %}
      <h1>404 Page Not Found</h1>
      {% endblock %}
    </div>

    <footer>
      <p>&copy; Name. All Rights Reserved.</p>
    </footer>
  </body>
</html>
