{% extends "layout.jinja2" %}

{% block head %}
    {{ super() }}
    <link href="/css/option.css" rel="stylesheet">
    <script src="{{request.static_url('optionsviewer:static/js/plotly-latest.min.js')}}" defer></script>
    <script src="{{request.static_url('optionsviewer:static/js/option.js')}}" defer></script>
{% endblock %}

{% block content %}
<div id="option-content">
    <section id="security-overview">
        <div id="security">
            <h1>
                <span>$</span>
                {{ security.ticker }}
            </h1>
            <p>${{ security.price }}
        </div>
        <div id="security-info">
            <p>
                {% if security.up %}
                <span class="up fas fa-caret-up">
                </span>
                {% elif security.dead %}
                <span class="down fas fa-caret-up">
                </span>
                {% endif %}
                {{ security.change }} ({{ security.percent }}%)
            </p>
            {% for key, value in security.quote.items() %}
            <p>
                {{ key }} :
                {{ value }}
            </p>
            {% endfor %}
        </div>
    </section>
    <section id="graphs">
        <div id="graph"></div>
    </section>
</div>
<div id="sidebar">
    {% if option %}
    <div id="greeks">
        <h2>The Greeks</h2>
        {% for key, value in option.greeks.items() %}
            <p>{{ key }}</p>
            <p>{{ value }}</p>
        {% endfor %}
    </div>
    <div id="legs">
        <h2>Current Legs</h2>
        {% for key, value in option.legs.items() %}
            <p>{{ key }}</p>
            <p>{{ value }}</p>
        {% endfor %}
    </div>
    {% else %}
    <p id="nothing">Add an option below to get started!</p>
    {% endif %}
    <button id="add-option" onclick="addOption()">
        <span class="fas fa-plus-circle"></span>
        <h4>Add Option</h4>
    </button>
</div>

{% endblock content %}
