{% extends "layout.jinja2" %}

{% block head %}
    {{ super() }}
    <link href="/css/tutorial.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="heading" class="medium-heading">
    <h1>What are Options?</h1>
</div>
<nav id="contents">
    <a href="#vocabulary">
        <h3>Vocabulary</h3>
    </a>
    <a href="#Call">
        <h3>Calls</h3>
    </a>
    <a href="#Put">
        <h3>Puts</h3>
    </a>
    <a href="#greeks">
        <h3>Greeks</h3>
    </a>
    <a href="#spreads">
        <h3>Spreads</h3>
    </a>
</nav>
<section id="introduction">
    {# <h1>So how do options work?</h1> #}
    <p>We know that understanding stock options and their intricacies is difficult. So we created a one page guide to help you quickly understand the basics and more complex elements of trading stock options.</p>
    <div id="introduction-buttons">
        <button title="Download">
            <span class="fas fa-file-download"></span>
        </button>
        <button title="Share">
            <span class="fas fa-share-alt"></span>
        </button>
    </div>
</section>
<section id="vocabulary">
    <h2>Vocabulary</h2>
    <p>These are a few words you'll need to know.</p>
    <div class="words">
    {% for key, value in vocabulary.items() %}
        <h4>{{ key }}</h4>
        <p>{{ value }}</p>
    {% endfor %}
    </div>
</section>
{% for key, value in optiontypes.items() %}
<section id="{{ key }}" class="option-type">
    <img class="graphic" src="{{request.static_url('optionsviewer:static/img/stock-graphic.png')}}" />
    <div class="description">
        <h2>{{ key }} Contract</h2>
        <p>{{ value.desc }}</p>
        <div class="comparison">
            <div class="column">
                <span class="fas fa-file-contract"></span>
                <p>{{ value.seller }}</p>
            </div>
            <div class="divider">
            </div>
            <div class="column">
                <span class="fas fa-money-bill"></span>
                <p>{{ value.buyer }}</p>
            </div>
        </div>
    </div>
</section>
{% endfor %}
<section id="greeks">
    <h2>The Greeks</h2>
    <p>These values are used by investors to evaluate the future value of an options contract.</p>
    <div class="words">
    {% for key, value in greeks.items() %}
        <h4>{{ value.symbol | safe }}</h4>
        <h4>{{ key }}</h4>
        <p>{{ value.desc }}</p>
    {% endfor %}
    </div>
</section>

<section id="spreads">
    <h2>Spreads</h2>
    <p>Spreads are an options investor's most powerful tools. Using a combination of multiple options contracts, you can maximize gains and minimize risk.</p>
    <div id="spread-gallery">
        {% for key, value in spreads.items() %}
        <div class="spread">
            <h3>{{key}}</h3>
            <p>{{value.desc}}</p>
            <ul class="legs">
                {% for text, class in value.legs.items() %}
                <li class="{{class}}">{{text}}</li>
                {% endfor %}
            </ul>
            {% if value.note %}
            <p class="note">*{{ value.note }}</p>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
